<ion-header>
  <ion-navbar>
    <ion-title>Filmes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-refresher (ionRefresh)="getUpcoming($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-card *ngFor="let movie of movies">

    <ion-item (click)="getMovieDetail(movie)">
      <h2>{{movie.title}}</h2>
      <p>{{movie.release_date | date:'dd MMM yyyy'}}</p>
    </ion-item>

    <img [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path"
         (click)="getMovieDetail(movie)">

    <ion-card-content *ngIf="movie.overview" (click)="getMovieDetail(movie)">
      <p>{{movie.overview}}</p>
    </ion-card-content>

    <ion-row>

      <ion-col center text-center>
        <button ion-button icon-left clear small outline>
          <ion-icon name="star-outline"></ion-icon>
          <div>{{movie.vote_average || '0'}}</div>
        </button>
      </ion-col>

      <ion-col center text-center>
        <button ion-button icon-left clear small outline color="danger">
          <ion-icon name="heart-outline"></ion-icon>
          <!--<ion-icon name="heart"></ion-icon>-->
          <div>Like</div>
        </button>
      </ion-col>

      <!--<ion-col>-->
        <!--<button ion-button icon-left clear small>-->
          <!--<ion-icon name="thumbs-up"></ion-icon>-->
          <!--<div>12 Likes</div>-->
        <!--</button>-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--<button ion-button icon-left clear small>-->
          <!--<ion-icon name="text"></ion-icon>-->
          <!--<div>4 Comments</div>-->
        <!--</button>-->
      <!--</ion-col>-->
      <!--<ion-col center text-center>-->
        <!--<ion-note>-->
          <!--11h ago-->
        <!--</ion-note>-->
      <!--</ion-col>-->
    </ion-row>

  </ion-card>


</ion-content>
